/* Both the no results and spinner display are made none  */

.no-result {
  display: none;
}

.spinner-hide {
  display: none;
}


@media screen and (max-width: 576px) {
  /* For details section  */

  .displayCard {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
  }

  .displayCard h1,h5{
      text-align: center;      
  }

  .main-section{
    padding-left: 20px;
  }
  .main-section h2{
      text-align: center;
  }
  .main-section button{
    justify-content: center;
  }

  .dropdownSection{
    display: flex;
    justify-content: center;
  }
}
